:root {
  background-color: #DCEEF2;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
}
#container {

width: 486px;
/*height: 250px;*/
position: absolute;
left: 50%;
background-color: white;
transform-origin: center;
transform: translate(-50%, 50%);
box-shadow: 12px 20px 70px rgba(123, 138, 158, .5);
}

#navbackground rect{
  opacity: 0;
  transform: translateY(-42px);
  width: 100%;
  height: 85px;
  fill: white;

}
.st23 {
display: block;
opacity: 1;
}
.st11{
  stroke: #888;
}

.st0 {
  fill: none;
  stroke: #008F35;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: #F77000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st3 {
  opacity: 0.6;
}

.st4 {
  fill: none;
  stroke: #6A7684;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st5 {
  fill: url(#search-bar_2_);
}

.st6 {
  fill: #6A7684;
}

.st7 {
  fill: url(#sign-up-form_2_);
}

.st8 {
  fill: url(#magazine-gradient-shelf_2_);
}

.st9 {
  fill: url(#blog-entry-1_x5F__x5F_rect_2_);
}

.st10 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st11 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st12 {
  opacity: 0.48;
  fill: #7B8A9E;
}

.st13 {
  opacity: 0.25;
  fill: #6A7684;
}

.st14 {
  fill: url(#SVGID_1_);
}

.st15 {
  opacity: 0.68;
}

.st16 {
  fill: #FFFFFF;
}

.st17 {
  opacity: 0.27;
}

.st18 {
  opacity: 0.61;
}

.st19 {
  opacity: 0.76;
  fill: #1D0F29;
}

.st20 {
  fill: #22B4B4;
}

.st21 {
  fill: #ED005D;
}

.st22 {
  opacity: 0.3;
}

.st23 {
  display: block;
  opacity: 0;
  fill: #FFFFFF;

}

.st24 {
  clip-path: url(#SVGID_3_);
}

.st25 {
  fill: #D22329;
}

.st26 {
  fill: #F37000;
}

.st27 {
  fill: #E5BB30;
}

.st28 {
  fill: #008D3A;
}

.st29 {
  fill: #0D63DB;
}

.st30 {
  fill: #9F5AE0;
}

.st31 {
  fill: url(#subscribe-button_2_);
}
/*#blog-container{
  z-index: 1;
  transform: translateY( -100px);
}
#blog-entry-1_1_{
  background-color: #FFF;
  z-index: 2;
}*/
